<div class="container animated fadeIn">
  <h1><b>Git</b></h1>
  <hr>

  <h4><b>打錯帳號密碼</b></h4>
  <p>
    <a href="https://blog.miniasp.com/post/2016/02/01/Useful-tool-Git-Credential-Manager-for-Windows" target="_blank"><u>參考資料1</u></a>&nbsp;&nbsp;
    <a href="https://dotblogs.com.tw/yizlix/2019/07/31/184319" target="_blank"><u>參考資料2</u></a>
  </p>
  <p>控制台 &gt; 認證管理員 &gt; Windows認證 &gt; 編輯指定的git repository 帳號密碼</p>

  <div class="card shadow default">
    <div class="card-body">
      <h4 class="card-title"><b>Git server 架設</b></h4>
      <hr>
      <h4 class="card-title"><b>Bonobo git server</b></h4>
      <p>施工中</p>
    </div>
  </div>
</div>
