<div class="container animated fadeIn">
  <h1><b>Route</b></h1>
  <hr>

  <h4><b>Route guard</b></h4>
  <hr>

  <p>
    <a href="https://jasonwatmore.com/post/2019/06/10/angular-8-user-registration-and-login-example-tutorial" target="_blank"><u>參考資料1</u></a>&nbsp;&nbsp;
    <a href="https://blog.thoughtram.io/angular/2016/07/18/guards-in-angular-2.html" target="_blank"><u>參考資料2</u></a>
  </p>
  <p><a href="https://github.com/BearAndrew/RouteGuard" target="_blank"><u>github 範例</u></a></p>

</div>
