<div class="container animated fadeIn">
  <h1><b>Sidebar</b></h1>
  <hr>

  <div class="card shadow">
    <div class="card-body">
      <h4 class="card-title"><b>Pro-Sideber</b></h4>
      <p><a href="https://github.com/azouaoui-med/angular-pro-sidebar"><u>Pro-Sideber Github</u></a></p>
      <p>1.將需要的函式庫引用</p>
      <pre class="bash-bg">npm install @fortawesome/fontawesome-free bootstrap ngx-bootstrap ngx-perfect-scrollbar</pre>

      <!-- import { BrowserAnimationsModule } from '@angular/platform-browser/animations'; -->

      <p>2.將 <span class="monokai-red">app</span> 資料夾中的
        <span class="monokai-red">AppComponent</span> 和
        <span class="monokai-red">SidebarComponent</span> 複製到自己的專案中修改
      </p>

      <p>3.在 <span class="monokai-red">style.scss</span> 中加入以下內容</p>
      <div class="monokai-bg default">
        <code>
          <span class="monokai-yellow">.page-wrapper.toggled .sidebar</span> {{ '{'}}<br>
          <span class="monokai-blue tab">left</span>: <span class="monokai-green">-300px</span>;<br>{{ '}' }}
        </code>
      </div>
    </div>
  </div>
</div>
