<div class="container animated fadeIn">
  <h1><b>Google Sheet API</b></h1>
  <hr>

  <p>
    <a href="https://developers.google.com/sheets/api/reference/rest" target="_blank"><u>官方文檔</u></a>&nbsp;&nbsp;&nbsp;
    <a href="https://developers.google.com/sheets/api/quickstart/js#python-2.x" target="_blank"><u>Quick Start</u></a>&nbsp;&nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=BxqfwfQi0jk" target="_blank"><u>參考資料1</u></a>&nbsp;&nbsp;&nbsp;
    <a href="https://www.youtube.com/watch?v=M0Jtp_0e70c" target="_blank"><u>參考資料2</u></a>
  </p>

  <h4><b>1.import GAPI</b></h4>
  <p><a href="https://stackoverflow.com/questions/48372348/drive-does-not-exist-on-type-typeof-client" target="_blank"><u>參考資料</u></a></p>
  <pre class="bash-bg">npm i --save @types/gapi @types/gapi.client @types/gapi.client.sheets</pre>
  <p>在 <span class="monokai-red">tsconfig.app.json</span> 中，加入下列 code</p>
  <div class="monokai-bg default margin-bot">
    <code>
      "<span class="monokai-blue">type</span>": ["<span class="monokai-orange">gapi</span>",
      "<span class="monokai-orange">gapi.client</span>", "<span class="monokai-orange">gapi.client.sheets</span>"]
    </code>
  </div>

  <h4><b>2. 在 Google API Console 中建立新專案</b></h4>
  <p><a href="https://console.developers.google.com/apis"><u>Google API Console</u></a></p>
  <p>點選左上角<span class="monokai-red">選取專案</span>。跳出新視窗後點選右上角<span class="monokai-red">新增專案</span></p>
  <p><img class="img-fluid shadow margin-bot" src="../../../assets/img/google-sheet-api/google-sheet-api-new1.png"></p>
  <p>點選<span class="monokai-red">&nbsp;<i class="fa fa-plus"></i>啟用API和服務</span></p>
  <p><img class="img-fluid shadow margin-bot" src="../../../assets/img/google-sheet-api/google-sheet-api-new2.png"></p>
  <p>搜尋<span class="monokai-red"> Google Sheets API </span>，並點選啟用</p>
  <p class="margin-bot"><img class="img-fluid shadow margin-bot" src="../../../assets/img/google-sheet-api/google-sheet-api-new3.png"></p>

  <h4><b>3. 設定 OAuth 與 憑證</b></h4>
  <p>
    點選左方<span class="monokai-darkBlue"><b> OAuth同意畫面</b></span>，
    使用者類型選擇<span class="monokai-red">外部</span>，
    <span class="monokai-red">應用程式名稱</span>與
    <span class="monokai-red">支援電子郵件</span>為必填欄位
  </p>
  <p><img class="img-fluid shadow margin-bot" src="../../../assets/img/google-sheet-api/google-sheet-api-credit1.png"></p>
  <p>
    點選左方<span class="monokai-darkBlue"><b>憑證</b></span>，
    再點選<span class="monokai-red">&nbsp;<i class="fa fa-plus"></i>建立憑證</span>，
    選擇<span class="monokai-red"> API金鑰</span>
  </p>
  <p><img class="img-fluid shadow margin-bot" src="../../../assets/img/google-sheet-api/google-sheet-api-credit2.png"></p>
  <p>
    再次<span class="monokai-red">&nbsp;<i class="fa fa-plus"></i>建立憑證</span>，
    選擇<span class="monokai-red"> OAuth用戶端 ID</span>
  </p>
  <p><img class="img-fluid shadow margin-bot" src="../../../assets/img/google-sheet-api/google-sheet-api-credit3.png"></p>
  <p>
    應用程式類型選擇<span class="monokai-red">網頁應用程式</span>，
    下方 URI 輸入需要用到此 API 的網址， ex. <span class="monokai-red"><b>https://localhost</b></span>
  </p>
  <p class="margin-bot"><img class="img-fluid shadow margin-bot" src="../../../assets/img/google-sheet-api/google-sheet-api-credit4.png"></p>

  <h4><b>4. Google 表單開啟共用</b></h4>
  <p>點 google 表單右上角 <span class="monokai-red">共用</span> </p>
  <p><img class="img-fluid shadow margin-bot" src="../../../assets/img/google-sheet-api/google-sheet-api-share1.png"></p>
  <p>
    點下方 <span class="monokai-red">取得連結</span>，將"限制"更改為
    <span class="monokai-red">知道連結的使用者</span>。若要使用寫入功能，再將右邊"檢視者"更改為
    <span class="monokai-red">編輯者</span>
  </p>
  <p><img class="img-fluid shadow margin-bot" src="../../../assets/img/google-sheet-api/google-sheet-api-share2.png"></p>

  <h4><b>5. 網頁端串接</b></h4>
  <p>在 index.html 中，加入下列 code</p>
  <div class="monokai-bg default">
    <code>
      &lt;<span class="monokai-darkBlue">script</span><span class="monokai-blue"> src</span>=
      <span class="monokai-orange">"https://apis.google.com/js/api.js"</span><!--
      -->&gt;&lt;/<span class="monokai-darkBlue">script</span>&gt;
    </code>
  </div>

  <p>範例代碼</p>
  <p><iframe width="100%" height="800" src="//jsfiddle.net/bearAndrew/L53sfogn/2/embedded/js,html/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe></p>
  <h5><b> <i class="fa fa-star"></i> NgZone</b></h5>
  <div class="alert alert-warning">使用第三方套件時，可能會脫離 Angular 偵測範圍，需使用 NgZone 返回 Angular 偵測範圍</div>
  <p>
    <a href="https://angular.tw/api/core/NgZone" target="_blank"><u>NgZone 官方文檔</u></a>&nbsp;&nbsp;&nbsp;
    <a href="https://stackoverflow.com/questions/38091215/import-gapi-auth2-in-angular-2-typescript" target="_blank"><u>參考資料1</u></a>&nbsp;&nbsp;&nbsp;
    <a href="https://www.coder.work/article/1179035" target="_blank"><u>參考資料2</u></a>&nbsp;&nbsp;&nbsp;
    <a href="https://github.com/google/google-api-javascript-client/issues/353" target="_blank"><u>參考資料3</u></a>&nbsp;&nbsp;&nbsp;
    <a href="https://blog.kevinyang.net/2019/02/14/ng-ngzone/" target="_blank"><u>NgZone 介紹1</u></a>&nbsp;&nbsp;&nbsp;
    <a href="https://ithelp.ithome.com.tw/articles/10208831" target="_blank"><u>NgZone 介紹2</u></a>
  </p>
  <div class="alert alert-warning">gapi.client.sheets 在 compile 時會出現 error ， 改為 gapi.client['sheets'] 可解決 (原因不明)</div>

  <div class="card shadow margin-bot">
    <div class="card-body">
      <h5 class="card-title">範例</h5>
      <hr>
      <p>
        在 Google 表單中看讀寫內容
        <a href="https://docs.google.com/spreadsheets/d/1tkQVwKCbxmiiwhHPdiIOptCC_zg-xj-qhRkz52k5pqM"><u>Google 表單位置</u></a>
      </p>
      <p>需登入 google 授權 sheets api 應用程式，才可以使用。</p>

      <form>
        <div class="form-group">
          <label for="name">姓名</label>
          <input class="form-control" placeholder="輸入姓名" name="name" [(ngModel)]="exampleFormName">
        </div>
        <div class="form-group">
          <label for="gender">性別</label>
          <input class="form-control" placeholder="輸入性別" name="gender" [(ngModel)]="exampleFormGender">
        </div>
        <div class="form-group">
          <label for="remark">備註</label>
          <input class="form-control" placeholder="輸入備註" name="remark" [(ngModel)]="exampleFormRemark">
        </div>
      </form>

      <p>
        目前狀態 :
        <span *ngIf="isGoogleSignedIn">google 已登入</span>
        <span *ngIf="!isGoogleSignedIn">google 未登入</span>
      </p>
      <div id="button-group" *ngIf="!gapiFailed">
        <button class="btn btn-success" id="authorize_button" (click)="handleAuthClick()" [disabled]="isGoogleSignedIn">登入</button>&nbsp;
        <button class="btn btn-danger" id="signout_button" (click)="handleSignoutClick()" [disabled]="!isGoogleSignedIn">登出</button>&nbsp;
        <button class="btn btn-primary" id="read_button" (click)="handleReadClick()" [disabled]="!isGoogleSignedIn">讀取</button>&nbsp;
        <button class="btn btn-secondary" id="write_button" (click)="handleWriteClick()" [disabled]="!isGoogleSignedIn">寫入</button>
      </div>

      <pre id="content" style="white-space: pre-wrap;"></pre>
    </div>
  </div>
</div>
