<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top cyan" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <div *ngIf="router.url !== '/home'">
      <a class="navbar-brand waves-light" (click)="toggleSidebar()">
        <i *ngIf="getSideBarState()" class="fa fa-chevron-circle-right text-white"></i>
        <i *ngIf="!getSideBarState()" class="fa fa-chevron-circle-left text-white"></i>
      </a>
    </div>
    <div *ngIf="router.url === '/home'">
      <i class="navbar-brand waves-light fa fa-home"></i>
    </div>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']" routerLinkActive="router-link-active" >Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Ng<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/ng-tutorial/react-form']">React form</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/ng-tutorial/google-sheet-api']">Google Sheet API</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/ng-tutorial/chart']">Chart</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/ng-tutorial/deployment']">Deployment</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Css<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/css-tutorial/css-frame']">Css frame</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/css-tutorial/sidebar-tutorial']">Sidebar tutorial</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/css-tutorial/carousel-tutorial']">Carousel tutorial</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>

    </ul>
    <!-- Links -->



    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="cog"></mdb-icon> Settings</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
